<ion-view>  
     <ion-header-bar  class="custom">
      
    </ion-header-bar>
  <ion-content has-header="true">
      <img ng-src="img/banner.png" style="width:100%; margin-bottom: -6px;" >
      <div class="button-bar nav-bar">
          <a class="button nav" style="background-color: #6dcff6;" ng-click="btu(9000)">9.000 BTU</a>
  <a class="button nav" style="background-color: #00bff3;" ng-click="btu(12000)">12.000 BTU</a>
  <a class="button nav" style="background-color: #00aeef;" ng-click="btu(18000)">18.000 BTU</a>
  <a class="button nav" style="background-color: #00aeef;" ng-click="btu(24000)">24.000 BTU</a>
</div>
      <form autocomplete="off" action ng-submit="calcular(metrocubico, ventanas, puertas)" class="list">
          <label class="item item-input">
              <img ng-src="img/habitacion-ico.png">
              <span class="input-label q1">¿m2 de la habitación?</span>
              <input type="number" maxlength="4" step="1" ng-model="metrocubico" tabindex="0" ng-value="0" >
          </label>
          <label class="item item-input">
              <img ng-src="img/ventana-ico.png">
              <span class="input-label q2">¿Cuántas ventanas?</span>
              <input type="number" maxlength="4" step="1" ng-model="ventanas" tabindex="1" ng-value="0">
          </label>
          <label class="item item-input">
              <img ng-src="img/puerta-ico.png">
              <span class="input-label q3">¿Cuántas puertas?</span>
              <input type="number" maxlength="3" step="1" ng-model="puertas" tabindex="2" ng-value="0">
          </label>
          <input type='text' style="opacity:0;margin:0;" tabindex="3" onfocus="calcular(metrocubico, ventanas, puertas)">
          <div class="padding" style="text-align: center;">
              <button type="submit" class="button icon-right ion-ios7-search">Buscar</button>
          </div>
      </form>     
  </ion-content>
</ion-view>